body {
  background-image: url("../images/background2Heart.png");
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  flex: 3;
}

.app {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

.app .header {
  height: 5rem;
  width: 100%;
  background-color: #292929;
  padding: 1rem;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .menu-btn {
  font-size: 1.75rem;
  cursor: pointer;
}

/* ------------------------------------------  */

button {
  width: 45px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
}

img {
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 10px;
  align-items: baseline;
}

.login-container {
  width: 100%;
  display: flow-root;
  margin-top: 155px;
}

.hr-menu-horizontal {
  width: 214px;
  margin-left: 25px;
  position: relative;
  top: 530px;
}

.hr-photo {
  width: 214px;
  margin-bottom: 45px;
}

.user-username {
  margin-left: 10px;
  margin-top: auto;
}

.animatedEdit {
  background: url("../images/icon-editar32.png");
  background-repeat: no-repeat;
  background-position: right;

  margin-top: 45px;
  margin-right: 45px;
}

.user-photo {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url("../images/contact-photo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.user-data-container {
  display: flex;
  justify-content: space-around;

  margin-top: 15px;
}

.menu-header {
  width: inherit;
}

.menu-icons-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
}

.menu-icons-vertical {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
}

.menu-icons-vertical li {
  margin-top: 30px;
}

.menu-header-vertical {
  display: inline;
  float: left;
  text-align: left;

  margin: auto;
}

.menu-header-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.menu-btn {
  background: url("../images/icon-menu-hamb45.png");
  background-repeat: no-repeat;
  height: 45px;
}

.bt-back {
  background: url("../images/icon-menu-back45.png");
  background-repeat: no-repeat;
  height: 45px;
}

.bt-logout {
  background: url("../images/icon-menu-logout45.png");
  background-repeat: no-repeat;
  margin: auto;
  height: 45px;
}

.bt-modal-accept {
  background: url("../images/modal-accept-32.png");
  background-repeat: no-repeat;
  flex: none;
}

.bt-modal-cancel {
  background: url("../images/modal-cancel-32.png");
  background-repeat: no-repeat;
  flex: none;
}

.bt-sound {
  background: url("../images/icon-sound-on.png");
  background-repeat: no-repeat;
  margin: auto;
  height: 45px;
  opacity: 50%;
}

.bt-save {
  background: url("../images/save_icon3-45.png");
  background-repeat: no-repeat;
  margin: auto;
  margin-right: 10px;
  height: 45px;
}

.sound-on {
  visibility: hidden;
}
.bt-sound-off {
  background: url("../images/icon-sound-off.png");
}

.sound-off {
  visibility: hidden;
  display: none;
}
.label-login {
  visibility: hidden;
  display: none;
}
.bt-addfav {
  background: url("../images/icon-menu-addFav45.png");
  height: 45px;
}

.bt-home {
  background: url("../images/icon-menu-home45.png");
  height: 45px;
}

.bt-favs {
  background: url("../images/icon-menu-favs45.png");
  height: 45px;
}

.header .nav {
  display: flex;
  gap: 1rem;
}
.menu-icons-vertical h3 {
  position: relative;
  color: white;
  font-size: 1.2rem;
  left: 70px;
}
.display-none {
  visibility: hidden;
}
/* ------------------------------------------------------------  */

.app .body {
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .body button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vh;
  min-width: 15rem;
  min-height: 10rem;
  background-color: white;
  border-radius: 10px;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

.modal .modal-header {
  height: 2.5rem;
  border-radius: 10px 10px 0 0;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.modal-title {
  color: white;
  font-size: 0.9em;

  margin: 15px;
}

.modal .modal-header h2 {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.4rem;
  cursor: pointer;
}

.modal .modal-body {
  height: 80%;
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
}

.modal-message {
  color: black;
  text-align: center;
}

.app-menu {
  color: white;
  height: 100%;
  width: 20rem;
  background-color: #292929;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: wrap;
}

.menu-open {
  transform: translateX(0%);
  z-index: 200;
}
